<!DOCTYPE html>
<html>

<head>
    <title>Flasky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Avaliação contínua: Aula 080</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="page-header">
            {% if name %}
            <h1>Olá, {{ name }}</h1>
            <p>Feliz em vê-lo novamente</p>
            {% else %}
            <h1>Olá, desconhecido!</h1>
            <p>Prazer em conhecê-lo</p>
            {% endif %}
        </div>

        <form action="" method="post" class="form" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group required">
                {{ form.name.label(class="control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="Enviar">
        </form>

        <h2>Relação de Usuários Cadastrados</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome do Usuário</th>
                    <th>Perfil</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role.name if user.role else '-' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
